@page "/search"
@using BlazorApp_Recipes.Data
@inject RecipeService Service
@using Radzen
@using Radzen.Blazor



<PageTitle>Searching</PageTitle>

<h1>Filtering recipes</h1>

@code {
    private class PairItem
    {
        public string Category { get; set; }
        public bool IsSelected { get; set; }
    }

    List<PairItem> _options = new List<PairItem>();
    List<string> unitTypes => Service.UnitTypes;

    private List<Recipe> filteredItems = new();


    protected override void OnInitialized()
    {
        List<string> _options_category = Service.CategoryTypes;

        for (int i = 0; i < _options_category.Count(); i++)
        {
            _options.Add(new PairItem {Category=_options_category[i], IsSelected=true });
        }
    }

}

<RadzenStack class="rz-p-0 rz-p-md-12">
    <RadzenCard class="rz-p-4" Variant="Variant.Outlined" Gap="8px">
        <div class="custom-padding">
            Name
            <RadzenStack Orientation="Orientation.Horizontal">
                <input type="text" @bind="SearchTerm_Name" placeholder="Search..." />
            </RadzenStack>
        </div>
        <div class="custom-padding">
            Category
            <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                <RadzenToggleButton Text="All" @bind-Value="IsAllCategory" ToggleButtonStyle="ButtonStyle.Secondary" Variant="Variant.Filled" Size="ButtonSize.Small" Change="@(() => ToggleSelection("all_category"))" />
                @foreach (var option in _options)
                {
                    <RadzenToggleButton @bind-Value="option.IsSelected" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall">@option.Category</RadzenToggleButton>
                }
            </RadzenStack>
        </div>
        <div class="custom-padding">
        Servings
            <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                <RadzenToggleButton Text="All" @bind-Value="IsAllServings" ToggleButtonStyle="ButtonStyle.Secondary" Variant="Variant.Filled" Size="ButtonSize.Small" Change="@(() => ToggleSelection("all_servings"))" />
                <RadzenToggleButton Text="At least" @bind-Value="IsMinServings" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("min"))" />
                <RadzenToggleButton Text="Exactly" @bind-Value="IsEqualServings" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("equal"))" />
                <RadzenToggleButton Text="Up to" @bind-Value="IsMaxServings" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("max"))" />
                <RadzenNumeric @bind-Value="ServingsInput" Placeholder="4" Style="width: 50px;" />
            </RadzenStack>
        </div>
        <div class="custom-padding">
        Ingredient
            <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                <RadzenToggleButton Text="All" @bind-Value="IsAllIngredient" ToggleButtonStyle="ButtonStyle.Secondary" Variant="Variant.Filled" Size="ButtonSize.Small" Change="@(() => ToggleSelection("all_ingredient"))" />
                <RadzenToggleButton Text="At least" @bind-Value="IsMinIngredient" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("min_ingredient"))" />
                <RadzenToggleButton Text="Exactly" @bind-Value="IsEqualIngredient" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("equal_ingredient"))" />
                <RadzenToggleButton Text="Up to" @bind-Value="IsMaxIngredient" ToggleButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Change="@(() => ToggleSelection("max_ingredient"))" />
                <RadzenNumeric @bind-Value="IngredientInput_Value" Placeholder="4" Style="width: 50px;" />
                <RadzenDropDown Data="unitTypes" @bind-Value="IngredientInput_Unit" Placeholder="Select an option"/>
                <RadzenTextBox @bind-Value="IngredientInput_Type" Placeholder="tomato"/>
            </RadzenStack>
        </div>




        <div class="custom-padding">
        Note
            <RadzenStack Orientation="Orientation.Horizontal">        
                <input type="text" @bind="SearchTerm_Note" placeholder="Search..." />
            </RadzenStack>
        </div>

        <button type="submit" class="btn btn-primary" @onclick="PerformSearch">Search</button>

    </RadzenCard>
</RadzenStack>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Servings</th>
            <th>Note</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in filteredItems)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Category</td>
                <td>@recipe.Servings</td>
                <td>@recipe.Note</td>
                <td>@string.Join(", ", recipe.GetIngredients())</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Recipe[]? recipes;
    protected override async Task OnInitializedAsync() => recipes = (await Service.GetAllRecipesAsync()).ToArray();

    private string SearchTerm_Name = "";
    private string SearchTerm_Note = "";

    private bool IsMinServings = false;
    private bool IsEqualServings= false;
    private bool IsMaxServings = false;
    private bool IsAllServings = true;
    private int ServingsInput;

    private bool IsAllCategory = true;

    private bool IsMinIngredient = false;
    private bool IsEqualIngredient= false;
    private bool IsMaxIngredient = false;
    private bool IsAllIngredient = true;
    private int IngredientInput_Value;
    private string IngredientInput_Unit;
    private string IngredientInput_Type;

    private async void PerformSearch()
    {
        List<string> categoryList = new List<string>();
        foreach (var item in _options)
            if (item.IsSelected)
                categoryList.Add(item.Category);

        filteredItems = await Service.GetFilteredRecipesAsync(SearchTerm_Name, SearchTerm_Note, categoryList, 
            IsAllServings, IsMinServings, IsEqualServings, IsMaxServings, ServingsInput,
            IsAllIngredient, IsMinIngredient, IsEqualIngredient, IsMaxIngredient, IngredientInput_Value, IngredientInput_Unit, IngredientInput_Type);

        StateHasChanged();
    }


    private void ToggleSelection(string mode)
    {
        if (mode == "min")
        {
            IsMinServings = true;
            IsEqualServings = false;
            IsMaxServings = false;
            IsAllServings = false;
        }
        else if (mode == "equal")
        {
            IsMinServings = false;
            IsEqualServings = true;
            IsMaxServings = false;
            IsAllServings = false;
        }
        else if (mode == "max")
        {
            IsMinServings = false;
            IsEqualServings = false;
            IsMaxServings = true;
            IsAllServings = false;
        }
        else if (mode == "all_servings")
        {
            IsMinServings = false;
            IsEqualServings = false;
            IsMaxServings = false;
            IsAllServings = true;
        }
        else if (mode == "all_category")
        {
            if (IsAllCategory)
            {
                foreach (var item in _options) item.IsSelected = true;
            }
            if(!IsAllCategory)
            {
                foreach (var item in _options) item.IsSelected = false;
            }
        }
        if (mode == "min_ingredient")
        {
            IsMinIngredient = true;
            IsEqualIngredient = false;
            IsMaxIngredient = false;
            IsAllIngredient = false;
        }
        else if (mode == "equal_ingredient")
        {
            IsMinIngredient = false;
            IsEqualIngredient = true;
            IsMaxIngredient = false;
            IsAllIngredient = false;
        }
        else if (mode == "max_ingredient")
        {
            IsMinIngredient = false;
            IsEqualIngredient = false;
            IsMaxIngredient = true;
            IsAllIngredient = false;
        }
        else if (mode == "all_ingredient")
        {
            IsMinIngredient = false;
            IsEqualIngredient = false;
            IsMaxIngredient = false;
            IsAllIngredient = true;
        }

    }

}


<style>
    .custom-padding {
        padding-bottom: 16px;
    }
</style>